html, body { 
    overflow: hidden; 
}

.play-button {
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 1;
}

.play-button circle {
    stroke: #1F1F1F;
    fill: #FFFFFF;
    fill-opacity: 0;
    cursor: pointer;
}

.play-button polygon {
    fill: #1F1F1F;
    transition: opacity 0.1s linear;
}

.play-button line {
    transition: opacity 0.1s linear;
}

.play-button.playing polygon {
    opacity: 0;
}

.play-button.playing line {
    opacity: 1;
}

.play-button.paused polygon {
    opacity: 1;
}

.play-button.paused line {
    opacity: 0;
}

.play-button:hover polygon {
    fill: #259185;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 1;
}

.close-button circle {
    stroke: #1F1F1F;
    fill: #FFFFFF;
    fill-opacity: 0;
    cursor: pointer;
}

.play-button line, .close-button line {
    stroke: #1F1F1F;
}

.play-button:hover line {
    stroke: #D01B24;
}

.close-button:hover line {
    stroke: #BD3612;
}

#player {
    position: absolute;
    top: 0;
    right: -500px;
    width: 500px;
    background-color: #FFFFFF;
    border-left: 1px solid #1F1F1F;
    transition: right 0.5s ease;
    z-index: 2;
}

#player.closed {
    right: -500px;
}

#player.open {
    right: 0px;
}

#chart {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 11px;
    height: 1150px;
    margin-left: 40px;
    position: relative;
    width: 1350px;
}

svg {
    font-size: 15px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.legend {
    font-size: 15px;
}

.entity path {
    stroke-width: 0;
    fill-opacity: 0.8;
}

.entity:hover path {
    stroke-width: 2;
    fill-opacity: 1;
}

.entity:hover text {
    font-weight: bold;
}

.session rect {
    fill: #DDDDDD;
}

.session-label.U-0078 rect {
    fill: #DDDDDD;
    stroke: #465A61;
}

.session-label.U-0078 text {
    fill: #465A61;
}

.session-label.U-0080 rect {
    fill: #465A61;
    stroke: #DDDDDD;
}

.session-label.U-0080 text {
    fill: #DDDDDD;
}

.session-label text {
    font-weight: bold;
    font-size: 0.8em;
}

.session-label:hover text {
    text-decoration: underline;
}

.entity-label text, .node-labels text {
    fill: #465A61;
}

.entity-label rect {
    fill-opacity: 0;
    cursor: pointer;
}

#bubble {
    position: absolute;
    display: none;
    font-size: 14px;
    background-color: #F8F8F8;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
}

#bubble h1 {
    font-size: 1.2em;
    padding-left: 15px;
}

#bubble ol {
    margin: 0;
    padding: 0 10px 10px 40px;
}

#bubble li {
    white-space: nowrap;
}

#bubble a {
    color: #2075C7;
    text-decoration: none;
}

#bubble a:hover {
    text-decoration: underline;
}

#bubble a:visited {
    color: #5859B7;
}

#bubble .arrow {
    position: absolute;
    border-style: solid;
}

#bubble .arrow:after {
    position: absolute;
    border-style: solid;
    left: -7px;
    content: "";
}

#bubble .arrow.top {
    border-color: transparent transparent #c8c8c8 transparent;
    border-width: 0px 8px 8px 8px;
    top: -8px;
}

#bubble .arrow.top:after {
    border-color: transparent transparent #f8f8f8 transparent;
    border-width: 0px 7px 7px 7px;
    top: 1px;
}

#bubble .arrow.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -8px;
}

#bubble .arrow.bottom:after {
    border-color: #f8f8f8 transparent transparent transparent;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
}

#bubble .arrow.left {
    left: 67px;
}

#bubble .arrow.right {
    right: 67px;
}
